<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fboard">
	<!-- 1. 전체 개수얻기 -->
	<select id="selectCount" resultType="int">
		select count(*) from fboard
	</select>
	<!-- 2. 1개얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="FBoardVO">
		select * from fboard where idx=#{idx}
	</select>
	<!-- 3. 1페이지 얻기 -->
	<select id="selectList" parameterType="hashmap" resultType="FBoardVO">
		select
			R.*
		from
			(select
				rownum rnum, Q.*
			from	
				(select * from fboard order by idx desc) Q
			where
				<![CDATA[ rownum <= #{endNo } ]]>) R
		where
			<![CDATA[ rnum >= #{startNo } ]]>
	</select>
	<!-- 4. 조회수 증가하기 -->
	<update id="updateReadCount" parameterType="int">
		update fboard set readCount = readCount + 1 where idx = #{idx}
	</update>
	<!-- 5. 저장하기 -->
	<insert id="insert" parameterType="FBoardVO">
		insert into fboard values
		(fboard_idx_seq.nextval, #{name}, #{password}, #{subject}, #{content}, 0, sysdate, #{ip})
	</insert>
	<!-- 6. 수정하기 -->
	<update id="update" parameterType="FBoardVO">
		update fboard
		set
			subject = #{subject},
			content = #{content},
			regdate = sysdate,
			ip = #{ip}
		where
			idx = #{idx}
	</update>
	<!-- 7. 삭제하기 -->
	<delete id="delete" parameterType="int">
		delete from fboard where idx=#{idx}
	</delete>
</mapper>